[submodule "libnpy"]
	path = libnpy
	url = git@github.com:llohse/libnpy.git
[submodule "PYTHON_UNFOLD/simon_mpl_util"]
	path = PYTHON_UNFOLD/simon_mpl_util
	url = git@github.com:ssrothman/simon_mpl_util.git
